@model IEnumerable<UCAOrderManager.Models.Customer.CustomerListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusinessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsApproved)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.BusinessName)
        </td>
        <td>
            @Html.DisplayFor(model => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(model => item.Address)
        </td>
        <td>
            @Html.DisplayFor(model => item.City)
        </td>
        <td>
            @Html.DisplayFor(model => item.Country)
        </td>
        <td>
            @Html.DisplayFor(model => item.EMailID)
        </td>
        <td>
            @Html.DisplayFor(model => item.IsApproved)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerID })
        </td>
    </tr>
}

</table>
