@model IEnumerable<UCAOrderManager.Models.Customer.CustomerListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusinessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            Address
            @*@Html.DisplayNameFor(model => model.Address1)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsApproved)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.BusinessName)
        </td>
        <td>
            @Html.DisplayFor(model => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(model => item.Address)
        </td>
        <td>
            @Html.DisplayFor(model => item.City)
        </td>
        <td>
            @Html.DisplayFor(model => item.Postcode)
        </td>
        <td>
            @Html.DisplayFor(model => item.Country)
        </td>
        <td>
            @Html.DisplayFor(model => item.EMailID)
        </td>
        <td>
            @if (item.IsApproved == null)
            {
                using (Html.BeginForm("ApproveCustomer", "Customer", routeValues : new { id = item.UserID, Approved = true}, method: FormMethod.Post))
                {
                    <input type="submit" value="Approve" class="btn btn-default" />
                }
                using (Html.BeginForm("ApproveCustomer", "Customer", routeValues: new { id = item.UserID, Approved = false }, method: FormMethod.Post))
                {
                    <input type="submit" value="Reject" class="btn btn-default" />
                }
            }
            else
            {
                if (item.IsApproved ?? false)
                {
                    <span>Approved</span>
                }
                else
                {
                    <span>Rejected</span>
                }
            }
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
