@model UCAOrderManager.Models.Product.ProductScientificNameViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product Scientific Name</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductScientificName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductScientificName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAlive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAlive)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductScientificNameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
