@model UCAOrderManager.Models.Product.ProductSizeViewModel

@{
    ViewBag.Title = "Create";
}

<h2>@(Model == null || Model.ProductSizeID == 0? "Create" : "Edit")</h2>

@using (Html.BeginForm("Create", "ProductSizeMaster")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Product Size</h4>
        <hr />
        @Html.ValidationSummary(true)

        @if (Model != null && Model.ProductSizeID != 0)
        {
            @Html.HiddenFor(r=> r.ProductSizeID)
        }
        
        <div class="form-group">
            @Html.LabelFor(model => model.ProductSizeName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ProductSizeName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductSizeName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuanReq, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.QuanReq)
                @Html.ValidationMessageFor(model => model.QuanReq)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
