@model UCAOrderManager.Models.Product.ProductSizeViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Product Size</h4>
        <hr />
        @Html.ValidationSummary(true)
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductSizeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductSizeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.QuanReq)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuanReq)
            </dd>

        </dl>

        <div class="form-actions no-color">
            @if (ViewBag.CanDelete != null && ViewBag.CanDelete == true)
            {
                <input type="submit" value="Delete" class="btn btn-default" />
            }
            else
            {
                <input type="submit" value="Delete" class="btn btn-default" disabled="disabled" />
            }
            |@Html.ActionLink("Back to List", "Index")
        </div>
    </div>
}
